.grid {
  display: grid;
  grid-template-columns: 1fr 320px;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "hero hero"
    "game highscore";
}

.hero {
  grid-area: hero;
}

.game {
  grid-area: game;
}

.highscore {
  grid-area: highscore;
}
