.Row {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: border-color 60s;
}

.New {
  opacity: 0;
  transition: opacity 60s;
}

@starting-style {
  .Row {
    border-color: #f59e0b;
  }

  .New {
    opacity: 1;
  }
}
