.cmdk[cmdk-overlay] {
  position: fixed;
  inset: 0;
  z-index: 40;
  background-color: rgb(38 38 38 / 0.5);
  backdrop-filter: blur(8px);
}

.cmdk[cmdk-dialog] {
  position: fixed;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  z-index: 40;
  background-color: rgb(20 20 20);
  border: 1px solid rgb(64 64 64);
  padding-bottom: 0.5rem;
  border-radius: var(--radius-primary);
  overflow: hidden;
  width: 640px;
}

.cmdk [cmdk-input] {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
  background-color: rgb(20 20 20);
  border-bottom: 1px solid rgb(38 38 38);
}

.cmdk [cmdk-input]:focus-visible {
  outline: none;
}

.cmdk [cmdk-list] {
  max-height: 480px;
  overflow-y: auto;
}

.cmdk [cmdk-group-heading] {
  color: rgb(115 115 115);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.cmdk [cmdk-item] {
  padding: 0.5rem;
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.cmdk [cmdk-item][data-selected="true"]:not([data-disabled="true"]) {
  background-color: rgb(38 38 38);
  border-radius: 0.25rem;
  cursor: pointer;
}

.cmdk [cmdk-empty] {
  margin-left: 2rem;
  margin-right: 2rem;
}
