.grid {
  grid-template-columns: 1fr 1fr 44px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "role role role"
    "value dayOfMonth delete"
    "summary summary summary";
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 300px 1fr 1fr 44px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "role value dayOfMonth delete"
      "summary summary summary summary";
  }
}
