.dialog {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;

  @starting-style {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}
