.pageGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  grid-template-areas:
    "overview"
    "roles"
    "organizations"
    "notes";
  gap: 1rem;
  align-items: start;
}

@media (min-width: 640px) {
  .pageGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      "overview roles"
      "overview organizations"
      "notes notes";
  }
}

@media (min-width: 1536px) {
  .pageGrid {
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
      "notes overview roles"
      "notes overview organizations"
      "notes . .";
  }
}
